@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto'
}

nav {
  text-align: center;
  background-color: black;
  padding: 2vh;
  z-index: -1;
}

main {
  text-align: center;
}

.log {
  background-color: black;
  cursor: pointer;
  border-color: white;
  border-width: 3px;
  color: white;
  padding: 16px 32px;
  border-radius: 12px;
}

.log:hover {
  background-color: white;
  color: black;
  transition: 0.3s;
}

.posts {
  display: grid;
  grid-template: 1fr;
  justify-content: center;
  margin: 5vh 20vw;
  border-style: double;
  border-width: 1px;
  border-color: black;
  text-align: left;
}

.create-post button {
  background-color: black;
  cursor: pointer;
  border-color: white;
  color: white;
}